<ion-view view-title="{{labels.appTitle}}">
    <ion-content padding="true" class="has-header">
        <h4 class="title">{{labels.lookFor}}</h4>

            <div class="buttons">
                <a class="button button-block button-large" ng-class="mainClass.button" href="#/tab/laptopBrands" ng-click="setDeviceType('laptops')">
                    {{labels.laptops}}
                </a>
                <a class="button button-block button-large" ng-class="mainClass.button" href="#/tab/tabletBrands" ng-click="setDeviceType('tablets')">
                    Tablets
                </a>
                <a class="button button-block button-large" ng-class="mainClass.button" href="#/tab/smartphoneBrands" ng-click="setDeviceType('smartphones')">
                    {{labels.smartPhones}}
                </a>
                <br><br>
                <button class="button button-block button-large" ng-class="mainClass.button" ng-click="showOptions()">
                    {{labels.options}}
                </button>
                <button class="button button-block button-large" ng-class="mainClass.button" onclick="navigator.app.exitApp()">
                    {{labels.exit}}
                </button>
            </div>

    </ion-content>
</ion-view>