<ion-view view-title="DEVICE RECOMMENDER">


    <ion-content padding="true" class="has-header">
        <h4 class="title">Looking for...</h4>

            <div class="buttons">
                <a class="button button-block button-large button-calm" href="#/tab/laptop" ng-click="setDeviceType('laptops')">
                    Laptops
                </a>
                <!--<a class="logo" href="#"
                   tourtip="Angular Tour allows you to give an interactive tour to showcase the features of your website."
                   tourtip-next-label="Learn more"
                   tourtip-placement="right"
                   tourtip-offset="60"
                   tourtip-step="1"
                   tourtip-redirect-to="none"></a>-->
                <a class="button button-block button-large button-calm" href="#/tab/tablet" ng-click="setDeviceType('tablets')">
                    Tablets
                </a>
                <!--<a class="logo" href="#"
                   tourtip="Angular Tour allows you to give an interactive tour to showcase the features of your website."
                   tourtip-next-label="Learn more"
                   tourtip-placement="right"
                   tourtip-offset="60"
                   tourtip-step="2"
                   tourtip-redirect-to="none"></a>-->
                <a class="button button-block button-large button-calm" href="#/tab/smartPhone" ng-click="setDeviceType('smartphones')">
                    Smart Phones
                </a>
                <!--<a class="logo" href="#"
                   tourtip="Angular Tour allows you to give an interactive tour to showcase the features of your website."
                   tourtip-next-label="Learn more"
                   tourtip-placement="right"
                   tourtip-offset="60"
                   tourtip-step="3"
                   tourtip-redirect-to="tab.smartPhone"></a>-->
                <br><br>
                <button class="button button-block button-large button-calm" onclick="navigator.app.exitApp()">
                    Exit
                </button>
            </div>

    </ion-content>
</ion-view>