<ion-view view-title="Smart Phones">
    <ion-content class="padding">
        <!--<a class="logo" href="#"
           tourtip="Angular Tour allows you to give an interactive tour to showcase the features of your website."
           tourtip-next-label="Learn more"
           tourtip-placement="right"
           tourtip-offset="60"
           tourtip-step="4"
           tourtip-redirect-to="none"></a>-->
        <div class="list" ng-repeat="action in actions.smartphones">
            <span style="width: 20%;">{{action}}</span>
            <span style="position: absolute; right: 5%;">{{label[rateSmartphones[action] - 1]}}</span>
            <div class="item range range-calm">
                <input type="range" name="games" value="4" min="1" max="7" ng-model="rateSmartphones[action]">
            </div>
        </div>
        <div class="item"></div>
    </ion-content>
    <div class="bar bar-footer">
        <a class="button button-calm" href="#/main">Back to main</a>
        <button class="button button-calm" ng-click="process()">Process</button>
    </div>
</ion-view>