<ion-tabs class="tabs-icon-top" ng-class="mainClass.tab">

    <ion-tab title="{{labels.laptops}}" icon-on="ion-laptop" icon-off="ion-laptop active" href="#/tab/laptopBrands">
        <ion-nav-view name="tab-laptop"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Tablets" icon-on="ion-ipad" icon-off="ion-ipad active" href="#/tab/tabletBrands">
        <ion-nav-view name="tab-tablet"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{labels.smartPhones}}" icon-on="ion-iphone" icon-off="ion-iphone active" href="#/tab/smartphoneBrands">
        <ion-nav-view name="tab-smartphone"></ion-nav-view>
    </ion-tab>

</ion-tabs>