<ion-modal-view>
    <ion-header-bar ng-class="mainClass.bar">
        <h1 class="title">{{labels.theme}}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-radio ng-repeat="thm in themes" ng-model="$parent.$parent.theme" ng-value="thm.value">
                {{thm.name}}
            </ion-radio>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button ng-class:mainClass.button" ng-click="changeTheme(theme)">{{labels.select}}</button>
        <button class="button ng-class:mainClass.button" ng-click="closeThmModal()">{{labels.cancel}}</button>
    </div>
</ion-modal-view>